#quote {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.quotes {
    display: none; 
}

.card {
    width: 600px;
    height: 300px;
    margin-top: 150px;
}
